{% load menu_tags %}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Меню</title>
</head>
<body>
<ul>
    {% for node in menu_tree %}
        <li>
            <a href="{{ node.item.get_absolute_url }}" class="{% if node.active %}active{% endif %}">{{ node.item.name }}</a>
            {% if node.children %}
              {% for child in node.children %}
                {% draw_submenu child current_level %}
              {% endfor %}
            {% endif %}
        </li>
    {% endfor %}
</ul>
</body>
</html>