{% load menu_tags %}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Title</title>
</head>
<body>
  <ul>
    {% for node in sub_tree %}
        <li>
            <a href="{{ node.item_url }}" class="{% if node.active %}active{% endif %}">{{ node.item }}</a>
            {% if node.children and show_children %}
                {% for child in node.children %}
                {% draw_submenu child current_level %}
              {% endfor %}
            {% endif %}
        </li>
    {% endfor %}
</ul>
</body>
</html>